<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trancoso.projet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JouerActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ParametresActivity"></activity>
        <activity android:name=".AfficherJeuActivity"></activity>
        <activity android:name=".AjouterJeuActivity"></activity>

        <provider
            android:name=".JeuContentProvider"
            android:authorities="com.example.trancoso.projet"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>